<div class="group">
    Dashboard / Groupes <br><br>
    <div class="group__header">
        <a class="btn btn-sm btn-primary" href="#"><i class='bx bx-plus-medical'></i> Ajouter nouveau groupe</a>
    </div>
    <div class="group__body">
        <table class="table table-striped table-hover table-dark">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Email</th>
                    <th>Temara</th>
                    <th>Tel</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Ref</th>
                    <td>Title</td>
                    <td>Title</td>
                    <td>Title</td>
                    <td>Title</td>
                    <td>Title</td>
                    <td>
                        <a class="btn btn-sm text-white" href="#"><i class='bx bxs-show' ></i></a>
                        <a class="btn btn-sm text-white" href="http://"><i class='bx bx-edit' ></i></a>
                        <a class="btn btn-sm text-white" href="http://"><i class='bx bx-edit' ></i></a>
                    </td>
                </tr>
                <tr>
                    <th>Ref</th>
                    <td>Title</td>
                    <td>Title</td>
                    <td>Title</td>
                    <td>Title</td>
                    <td>Title</td>
                    <td>Title</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
