<div class="home">
    <div class="home_header">
        
        <div class="color-bg home_header_item">
            <div class="home_header_item_icon bg-1">
                <i class='bx bxs-user'></i>
            </div>
            <div class="home_header_item_body">
                <small>Utilisateurs</small>
                <small>{{ count_user }}</small>
            </div>
        </div>
        <div class="color-bg home_header_item">
            <div class="home_header_item_icon bg-2">
                <i class='bx bxs-store'></i>
            </div>
            <div class="home_header_item_body">
                <small>Produits</small>
                <small>{{ count_product }}</small>
            </div>
        </div>
        <div class="color-bg home_header_item">
            <div class="home_header_item_icon bg-3">
                <i class='bx bx-shopping-bag'></i>
            </div>
            <div class="home_header_item_body">
                <small>Commandes</small>
                <small>{{ count_order }}</small>
            </div>
        </div>
        <div class="color-bg home_header_item">
            <div class="home_header_item_icon bg-4">
                <i class='bx bxs-purchase-tag' ></i>
            </div>
            <div class="home_header_item_body">
                <small>Categoreis</small>
                <small>{{ count_category }}</small>
            </div>
        </div>
    </div>
</div>