<app-header></app-header>

<div class="home_dashboard">
    <div class="home_dashboard_item">
        <div class="home_dashboard_item_header">Utilisateurs</div>
        <div class="home_dashboard_item_body">
            <div class="home_dashboard_item_body_item">
                <div class="home_dashboard_item_body_item-email">
                    <i class='bx bxs-user'></i>
                    <span>lahcenhayane@gmail.com</span>
                </div>
                <div class="home_dashboard_item_body_item-email">
                    <i class='bx bx-shopping-bag'></i>
                    <span>Commandes: </span>
                </div>
            </div>
            <div class="home_dashboard_item_body_item">
                <div class="home_dashboard_item_body_item-email">
                    <i class='bx bxs-user'></i>
                    <span>lahcenhayane@gmail.com</span>
                </div>
                <div class="home_dashboard_item_body_item-email">
                    <i class='bx bx-shopping-bag'></i>
                    <span>Commandes: </span>
                </div>
            </div>
            <div class="home_dashboard_item_body_item">
                <div class="home_dashboard_item_body_item-email">
                    <i class='bx bxs-user'></i>
                    <span>lahcenhayane@gmail.com</span>
                </div>
                <div class="home_dashboard_item_body_item-email">
                    <i class='bx bx-shopping-bag'></i>
                    <span>Commandes: </span>
                </div>
            </div>
            <div class="home_dashboard_item_body_item">
                <div class="home_dashboard_item_body_item-email">
                    <i class='bx bxs-user'></i>
                    <span>lahcenhayane@gmail.com</span>
                </div>
                <div class="home_dashboard_item_body_item-email">
                    <i class='bx bx-shopping-bag'></i>
                    <span>Commandes: </span>
                </div>
            </div>
        </div>
    </div>
    <div class="home_dashboard_item">
        <div class="home_dashboard_item_header">Produits</div>
        <div class="home_dashboard_item_body">
            <div class="home_dashboard_item_body_item">
                <div class="home_dashboard_item_body_item-email">
                    <i class='bx bxs-user'></i>
                    <span>lahcenhayane@gmail.com</span>
                </div>
                <div class="home_dashboard_item_body_item-email">
                    <i class='bx bx-shopping-bag'></i>
                    <span>Commandes: </span>
                </div>
            </div>
            <div class="home_dashboard_item_body_item">
                <div class="home_dashboard_item_body_item-email">
                    <i class='bx bxs-user'></i>
                    <span>lahcenhayane@gmail.com</span>
                </div>
                <div class="home_dashboard_item_body_item-email">
                    <i class='bx bx-shopping-bag'></i>
                    <span>Commandes: </span>
                </div>
            </div>
            <div class="home_dashboard_item_body_item">
                <div class="home_dashboard_item_body_item-email">
                    <i class='bx bxs-user'></i>
                    <span>lahcenhayane@gmail.com</span>
                </div>
                <div class="home_dashboard_item_body_item-email">
                    <i class='bx bx-shopping-bag'></i>
                    <span>Commandes: </span>
                </div>
            </div>
            <div class="home_dashboard_item_body_item">
                <div class="home_dashboard_item_body_item-email">
                    <i class='bx bxs-user'></i>
                    <span>lahcenhayane@gmail.com</span>
                </div>
                <div class="home_dashboard_item_body_item-email">
                    <i class='bx bx-shopping-bag'></i>
                    <span>Commandes: </span>
                </div>
            </div>
        </div>
    </div>
    <div class="home_dashboard_item">
        <div class="home_dashboard_item_header">Commandes</div>
        <div class="home_dashboard_item_body">
            <div class="home_dashboard_item_body_item">
                <div class="home_dashboard_item_body_item-email">
                    <i class='bx bxs-user'></i>
                    <span>lahcenhayane@gmail.com</span>
                </div>
                <div class="home_dashboard_item_body_item-email">
                    <i class='bx bx-shopping-bag'></i>
                    <span>Commandes: </span>
                </div>
            </div>
            <div class="home_dashboard_item_body_item">
                <div class="home_dashboard_item_body_item-email">
                    <i class='bx bxs-user'></i>
                    <span>lahcenhayane@gmail.com</span>
                </div>
                <div class="home_dashboard_item_body_item-email">
                    <i class='bx bx-shopping-bag'></i>
                    <span>Commandes: </span>
                </div>
            </div>
            <div class="home_dashboard_item_body_item">
                <div class="home_dashboard_item_body_item-email">
                    <i class='bx bxs-user'></i>
                    <span>lahcenhayane@gmail.com</span>
                </div>
                <div class="home_dashboard_item_body_item-email">
                    <i class='bx bx-shopping-bag'></i>
                    <span>Commandes: </span>
                </div>
            </div>
            <div class="home_dashboard_item_body_item">
                <div class="home_dashboard_item_body_item-email">
                    <i class='bx bxs-user'></i>
                    <span>lahcenhayane@gmail.com</span>
                </div>
                <div class="home_dashboard_item_body_item-email">
                    <i class='bx bx-shopping-bag'></i>
                    <span>Commandes: </span>
                </div>
            </div>
        </div>
    </div>
    <div class="home_dashboard_item">
        <div class="home_dashboard_item_header">Categories</div>
        <div class="home_dashboard_item_body">
            <div class="home_dashboard_item_body_item">
                <div class="home_dashboard_item_body_item-email">
                    <i class='bx bxs-user'></i>
                    <span>lahcenhayane@gmail.com</span>
                </div>
                <div class="home_dashboard_item_body_item-email">
                    <i class='bx bx-shopping-bag'></i>
                    <span>Commandes: </span>
                </div>
            </div>
            <div class="home_dashboard_item_body_item">
                <div class="home_dashboard_item_body_item-email">
                    <i class='bx bxs-user'></i>
                    <span>lahcenhayane@gmail.com</span>
                </div>
                <div class="home_dashboard_item_body_item-email">
                    <i class='bx bx-shopping-bag'></i>
                    <span>Commandes: </span>
                </div>
            </div>
            <div class="home_dashboard_item_body_item">
                <div class="home_dashboard_item_body_item-email">
                    <i class='bx bxs-user'></i>
                    <span>lahcenhayane@gmail.com</span>
                </div>
                <div class="home_dashboard_item_body_item-email">
                    <i class='bx bx-shopping-bag'></i>
                    <span>Commandes: </span>
                </div>
            </div>
            <div class="home_dashboard_item_body_item">
                <div class="home_dashboard_item_body_item-email">
                    <i class='bx bxs-user'></i>
                    <span>lahcenhayane@gmail.com</span>
                </div>
                <div class="home_dashboard_item_body_item-email">
                    <i class='bx bx-shopping-bag'></i>
                    <span>Commandes: </span>
                </div>
            </div>
        </div>
    </div>
</div>